<div id="main" class="">
  <div class="hero-con grid-x grid-margin-x">
    <div class="cell large-5">
      <div class="hero-cta">
        <h1 class="home-header">
          Save money on your next car
        </h1>
        <a href="about.html" class="button">Learn More</a>  
      </div>
    </div>
    <div class='cell medium-4 medium-offset-2 large-4 large-offset-3'>

      <div class="hero-login-form">
      <% if session[:user_id] %>    
        <h3>Welcome back <%= @user.first_name %> </h3>
        <%= link_to 'View Account', @user, class: 'button radius' %>
      <% else %>
        <h3>Secure Account Login</h3>
        <%= form_for(:session, url: login_path) do |f| %>

          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control' %>

          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>

          <%= f.check_box  :remember_me%>
          Remember Me <br>

          <%= f.submit "Log in", class: "button radius large-12 cell" %>
        <% end %>
        <a href="" style="text-align: center;">Forgot User ID</a>
      <% end %>
      </div>
    </div>
  </div>
  <div class="middle-con grid-x grid-margin-x">
    <h3 style="">How do you want to save?</h3>
    <div class="cell large-4">
      <%= image_tag "MovingImage.png", class:"home-image" %>
      <h4>Moving?</h4>
      <p>Find a home lending expert that fits your needs.</p>
      <a href="about.html" class="button radius">Learn More</a>
    </div>
    <div class="cell large-4">
      <%= image_tag "DiscoverSavings@1x.png", class:"home-image" %>
      <h4>Discover savings plans</h4>
      <p>Explore our savings plans and steps you can take to start saving today.</p>
      <a href="about.html" class="button radius">Start Now</a>
    </div>
    <div class="cell large-4">
      <%= image_tag "EarnCashImage@1x.png", class:"home-image" %>
      <h4>Earn cash back</h4>
      <p>Find the right credit card that will earn you cash back for your spending.</p>
      <a href="about.html" class="button radius">Explore cards</a>
    </div>
  </div>
  <div class="bottom-con grid-x grid-margin-x">
    <div class='cell large-8 large-offset-2'>
      <h4 class="text-center">We've got you covered</h4>
      <p class="text-center">
        Talk to us about your goals and our savings expers will show you how to get there faster.
      </p>
      <div class="home-lower-cta">
        <a href="about.html" class="button radius">Talk to us</a>
      </div>
    </div>
  </div>
</div>